<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@700&family=Libre+Baskerville&display=swap" rel="stylesheet">
<div>
    <div class="d-flex flex-column justify-content-center h-100" >
        <div class="big-title mt-4 mt-lg-0">
            <h1> Are you wondering what to eat today?</h1>
            <h1 style="color: coral"> Sing in and find the best recipes!</h1>
            <img src="assets/img/3941050.jpg" class="title-image"/>
         <div>

   </div>
</div>

