<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav" *ngIf="loggedIn">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="avtive"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="!loggedIn"><a routerLink="/login">Login</a></li>
                <li routerLinkActive="active" *ngIf="loggedIn" (click)="logout()"><a>Logout</a></li>
                <li class="dropdown" *ngIf="loggedIn" appDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" (click)="presentPopover($event)" role="button">
                        Manage
                        <span class="caret"></span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>