<div class="div row">
    <div class="col-md-6 offset-md-3 mt-4">
    <h3> Login</h3> <hr/>
        <form #formData="ngForm">
            <div class="form-group">
                <label for="email">e-mail</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" ngModel name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" ngModel >
            </div>
            <button type="button" class="btn btn-primary"  (click)="login(formData)" [disabled]="formData.invalid">Zaloguj</button>
            <button type="button" class="btn btn-primary" (click)="register(formData)">Zarejestruj</button>

        </form>
        <hr>
    </div>
</div>

